/* html, body {
  height: 100%;
  margin: 0;
  padding: 0;
} */

/* 기본 레이아웃 */
.mypage-container {
  width: 540px;
  font-family: sans-serif;
  /* background-color: #f7f8fa; */
  color: #333;
}

/* 헤더 */

/* .logo {
  font-weight: bold;
  color: #0077cc;
  font-size: 20px;
} */

/* .nav-menu a {
  margin-left: 20px;
  text-decoration: none;
  color: #555;
  font-size: 14px;
} */

/* 메인 */


.profile-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}


.profile-name {
  font-size: 24px;
}

.name-highlight {
  font-size: 15px;
  font-weight: 600;
  color: #222;
}

/* 문의 테이블 */
.inquiry-section {
  margin-top: 20px;
}

.section-title {
  font-size: 16px;
  font-weight: bold;
  border-bottom: 2px solid #000;
  padding-bottom: 8px;
  margin-bottom: 16px;
}

/* .inquiry-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

.inquiry-table th,
.inquiry-table td {
  padding: 12px;
  border-bottom: 1px solid #ccc;
  text-align: left;
} */

.status.approved {
  color: #0077cc;
  font-weight: bold;
}

.status.pending {
  color: #999;
}